SUPABASE_URL=https://oajgzalwifafbjadbbil.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hamd6YWx3aWZhZmJqYWRiYmlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4OTcxMDAsImV4cCI6MjEwMjQ3MzEwMH0.EhiVxwmXSpcv-76qyMuL5SoDCP7qWS1PuZgtUe4uScM

